
<style>
	.roundDiv {
		background-repeat: no-repeat;
		background-position: 50%;
		border-radius: 50%;
		width: 35px;
		height: 35px;
		box-shadow: 2px 2px 5px #888888;
	}
</style>

<img src="images/lifestyle.jpg" width="100%">

<div class="container">
	<p>
		{{lifestyleIntro}}
	</p>
	<br>
	<div class="row"  ng-repeat="lifestyle in lifestyles"  style="height: 30px; background-color: ">
		<div class="col s2" style="margin-top: -7px">
			<div class="roundDiv" style="background-color: #CDDC39; text-align: center; padding-top: 7px">{{lifestyle['id']}}</div>
		</div>
		<div class="col s10"  style="border-bottom: lightgray solid 1px; height: 30px">{{lifestyle['name']}}</div>
	</div>

</div>


