
<div class="container">
	<!--LIST THE RECORD-->
	<div class="row" >
		<div class="col s12 l6">
			<img ng-src="images/{{nutritionById['image']}}" width="100%" style="margin-top: 20px">
			<div style="text-align: center"><a class="btn-floating btn-large waves-effect waves-light green" ng-click="back()"><i class="material-icons">skip_previous</i></a></div>
		</div>
		<div class="col s12 l6">
			<h5 style="color: #558B2F; font-weight: bold">{{nutritionById['name']}}</h5>
			<h5>{{nutritionById['description']}}</h5>
			<br>
		</div>
	</div>
	<!--END RECORD-->

</div>


